.home-container-1{
    min-height: 100vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0% auto;

}

.home-container-2{
    min-width: 1100px;
    width: calc(100%-164px);
    border: solid 1px #d6d9dc;
    padding: 24px;
    box-sizing: border-box;
}
